<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/AlKharidKiller/lib/jagexappletviewer.jar"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="jagexappletviewer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="runescape"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="AlKharidKiller"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.search.path=\bin&#13;&#10;-Dsun.java2d.nodraw=true&#13;&#10;-Dcom.jagex.config=http://oldschool.runescape.com/l=en/jav_config.ws&#13;&#10;-Xmx512m&#13;&#10;-Xss2m&#13;&#10;-XX:CompileThreshold=1500&#13;&#10;-Xincgc&#13;&#10;-XX:+UseConcMarkSweepGC&#13;&#10;-XX:+UseParNewGC&#13;&#10;-javaagent:&quot;lib\RSBot.jar&quot;"/>
</launchConfiguration>
